<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> {{title}} </title>
  </head>
  <body>
    <!--<h1>{{pageTitle}}</h1>-->
    {{> header}}
    <p>{{screamIt message message}} </p>

<!--    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer> -->
    {{> footer}}
  </body>

</html>
